@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    vertical-align: top;
}
a {
    display: block;
    text-decoration: none;
    color: inherit;
}
button {
    border: hidden;
    outline: 0;
}